@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.card-1 {
  background-color: #e97065;
}

.card-2 {
  background-color: #fbd25e;
}

.card-3 {
  background-color: #e86033;
}

.title-1 {
  font-family: "Rammetto One", cursive;
}

.title-2 {
  font-family: "Gravitas One", cursive;
}

.title-3 {
  font-family: 'Comfortaa', cursive;
}
